body{
    background-color:#242424;
    color: white;
}

p{
    background-color: #4b671b;
    display: flex;
    align-items: center;
    float: right;
    padding: 10px;
    border-radius: 15px;
    height: 50%;
    width: 60%;
}
img{
    display: flex;
    float: left;
    height: 30%;
    width: 30%;
}