body{
    background-color:#242424;
    color: white;
}
*{
    margin: 0;
    padding: 0;
};
body{
    background-color:#242424;
    color: white;
}
nav ul
{
    background-color: #4b671b;
    color: antiquewhite;
    display: flex;
    list-style-type: none;
    text-decoration: none;
    height: 50px;
    align-items: center;
    cursor: pointer;
}
nav ul li
{
    padding: 0 12px;
}
.brand img{
    width: 45px;
    height: 45px;
    padding: 0 12px;
}
.brand{
    display: flex;
    font-weight: bolder;
    font-size: 1.5rem;
    align-items: center;
}
p{
    height: 30%;
    width: 50%;
}
img{
    height: 30%;
    width: 30%;
}
div{
    background-color: #4b671b;
    display: flex;
    flex-direction: row;
    align-items: center;
    float: right;
    margin: 0px;
    padding: 5px;
    gap: 10px;
    border-radius: 15px;
}
