body{
    background-color:#242424;
    /*color: white;*/
}
*{
    margin: 0;
    padding: 0;
};
nav{
    font-family: 'Roboto Mono', monospace;
    
}
nav ul
{
    background-color: #4b671b;
    color: antiquewhite;
    display: flex;
    list-style-type: none;
    height: 50px;
    align-items: center;
    cursor: pointer;
}
nav ul li
{
    padding: 0 12px;
}
.brand img{
    width: 45px;
    height: 45px;
    padding: 0 12px;
}
.brand{
    display: flex;
    font-weight: bolder;
    font-size: 1.3rem;
    align-items: center;
}
.container{
    color: antiquewhite;
    min-height: 75vh;
    background-color: #000000;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    width: 70%;
    margin: 10px auto;
    padding: 30px;
    background-image: url('logo.jpg');
}

.Bottom{
    position:sticky;
    height:80px;
    background-color:  #4b671b;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    flex-direction: column;
    margin: 10px 0px;
}
.icons{
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
}
.icons i
{
    cursor: pointer;
}
#Progress
{
    background-color: black;
    width: 90vw;
    text-align: center;
    color: antiquewhite;
}
#Progress{
    color: antiquewhite;
}
.songItem{
    height: 40px;
    display: flex;
    background-color: #242424;
    color: antiquewhite;
    margin: 20px 20px;
    justify-content: space-around;
    align-items: center;
    border-radius: 39px;
}
.songItem img{
    width: 40px;
    margin: 0 20px;
    border-radius: 39px;
}
.timestamp{
    margin: 0 20px;
}
.timestamp i{
    cursor: pointer;
}
.songitemcontainer{
    margin: 50px 0;
}
.songinfo{
    display: flex;
    height: 5vh;
    position: absolute;
    left: 5vw;
    top: 5px;
    margin: 0px 10px;
    justify-content: space-around;
    align-items:flex-end;
} 